* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  padding: 10px 96px;
  justify-content: space-between;
}

.header h1 {
  color: #f9faf8;
  font-size: 24px;
}

.header__navbar {
  display: flex;
  list-style: none;
  gap: 26px;
}

.header__navbar a:link,
.header__navbar a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  padding: 40px 96px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hero__text h2 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

.hero__text p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 10px 0;
}

.hero__img {
  width: 100%;
  background-color: #797979;
  /* max-width: 700px;
  min-width: 500px; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.hero__text,
.hero__img {
  flex: 1 0 400px;
  max-width: 600px;
}

.btn {
  border: none;
  font-size: 18px;
  background-color: #3882f6;
  border-radius: 0.3em;
  color: #e5e7eb;
  padding: 5px 20px;
  font-weight: boldr;
}
